services:
  mongo:
    image: mongo:7
    command: ["--replSet", "rs0", "--bind_ip_all"]
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
    volumes:
      - mongo-data:/data/db

  mongo-init:
    image: mongo:7
    depends_on:
      - mongo
    entrypoint:
      [
        "bash",
        "-lc",
        'mongosh --host mongo:27017 -u root -p root --authenticationDatabase admin --eval ''try { rs.status() } catch (e) { rs.initiate({_id:"rs0", members:[{_id:0, host:"mongo:27017"}]}) }''',
      ]
    restart: "no"

volumes:
  mongo-data:
