@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    height: 100%;
  }

  body {
    @apply bg-slate-50 text-slate-900 antialiased;
  }

  a {
    @apply text-slate-900;
  }
}

body {
  margin: 0;
}
